@keyframes scanline {
  0% {
    top: 0;
  }

  100% {
    top: 100%;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes blur {
  50% {
    color: darken($output-color, 10%);
    text-shadow: 2px 0 2px lighten($output-text-shadow, 50%);
  }
}

@keyframes glow {
  50% {
    transform: scale(1.2);
  }
}
