.shadow {
  filter: drop-shadow($shadow-glow);
}

.interlace {
  @include fit();
  z-index: 101;
  opacity: 0.25;
  background: $interlace-background;
  background-size: 100% $interlace-size;
  background-repeat: repeat-y;
  pointer-events: none;
}

.scanline {
  @include fit();
  height: $base-unit;
  opacity: 0.1;
  background: $scanline-background;
  animation: scanline 5s linear infinite;
}

.glitch {
  @include svgGlitch('glitch', 30, white, red, red, 800, 800);
}

// pre#printer {
//   width: 1200px;
// }
