.shadow {
  filter: drop-shadow($shadow-glow);
}

.interlace {
  @include fit();
  z-index: 101;
  opacity: 0.25;
  background: $interlace-background;
  background-size: 100% $interlace-size;
  background-repeat: repeat-y;
  pointer-events: none;
}

.scanline {
  @include fit();
  height: $base-unit;
  opacity: 0.2;
  background: $scanline-background;
  animation: scanline 5s linear infinite;
}

.fieldset {
  height: 85vh;
  border: 6px #fff double;
  border-top: none;
  position: relative;
  padding: 0 16px 16px;
  margin: 28px 0 28px;

  .legend {
    margin: 0 -22px 22px;
    transform: translate(0, -23px);

    span {
      float: left;
      padding: 0 1rem;
      margin: -1rem 0;
    }

    &::before,
    &::after {
      content: '';
      height: 8px;
    }

    &::before {
      border-top: 6px double #fff;
      border-left: 6px double #fff;
      float: left;
      margin: 10px 0 0;
      width: 8px;
    }

    &::after {
      border-top: 6px double #fff;
      border-right: 6px double #fff;
      position: relative;
      display: block;
      left: 0;
      top: 10px;
      overflow: hidden;
    }
  }

  .sign {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  footer {
    position: absolute;
    width: 100%;
    height: 10%;
    overflow: hidden;
    bottom: 0;
    left: 0;
  }
}

#printer-strings {
  font-size: $font-size;
  margin: 0;
}
.intro {
  overflow: hidden;
  #printer-intro {
    font-size: $font-size;
  }

  .typed-cursor {
    font-size: $font-size;
  }
}
