html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: $color;
  font-family: 'Chakra Petch', monospace;
  font-weight: 700;
  font-size: 14px;
  text-shadow: $shadow-glow;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1 1 100%;
}

.flex pre {
  width: 705px;
  margin: 0 auto;
}

.screen {
  height: 100vh;
  padding: 2rem;
  background-color: #000;

  &::after {
    @include fit();
    content: '';
    z-index: 112;
    opacity: 0.5;
    background: radial-gradient(
      ellipse at center,
      rgba($gradient-inner, 1) 0%,
      rgba($gradient-inner, 0) 100%
    );
    pointer-events: none;
    animation: glow 2s linear infinite;
  }

  &::before {
    @include fit();
    content: '';
    z-index: 111;
    background: radial-gradient(
      ellipse at center,
      rgba($gradient-bottom, 0) 0%,
      rgba($gradient-bottom, 0.6) 100%
    );
    pointer-events: none;
  }
}

fieldset {
  height: 100%;
  overflow: hidden;
  border: 6px #fff double;

  .logo {
    width: 200px;
    padding: 1em;
  }
}

::selection {
  background: #0080ff;
  text-shadow: none;
}

pre {
  margin: 0;
}
