html,
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: $color;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 700;
  font-size: 1rem;
  text-shadow: $shadow-glow;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
}

.flex {
  display: flex;
}

.flex > * {
  flex: 1 1 100%;
}

.screen {
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 2rem;
  background-color: #000;

  &::after {
    @include fit();
    content: '';
    z-index: 112;
    opacity: 0.5;
    background: radial-gradient(
      ellipse at center,
      rgba($gradient-inner, 1) 0%,
      rgba($gradient-inner, 0) 100%
    );
    pointer-events: none;
    animation: glow 2s linear infinite;
  }

  &::before {
    @include fit();
    content: '';
    z-index: 111;
    background: radial-gradient(
      ellipse at center,
      rgba($gradient-bottom, 0) 0%,
      rgba($gradient-bottom, 0.6) 100%
    );
    pointer-events: none;
  }
}

::selection {
  background: #0080ff;
  text-shadow: none;
}
